@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
}
body{
    background-image: url("BG.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    background-color: dimgrey;
    background-size: 150% 100%;
    background-attachment: fixed;
    display:flex;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}




.kk{
    margin-left: 45px;
    color:white;
    font-size: 300%;
}

.ff{
    margin-left: 10px;
}




h1{
    font-size: 300%;
    text-align: center;
    font-weight: 800;
    line-height: 98px;
    margin:0;

}

.absatz{
    margin-top: 50px;
    text-align: center;
    
}
.section1{
    display: flex;
    flex-direction: center;
justify-content: center;
align-items: flex-start;
    height:50%;
    width: 50%; 
    padding: 0 0px 0 450px;
    }
.rtr{
    background-color: #69a879;
    border-radius: 6px;
    padding:80px 0;
}

.container{
    display:flex;
    justify-content: flex-end;
align-items: flex-end;
padding:20px 0;
background-color: dimgrey;
background-size: 150% 70%;
}
.container>nav{
    font-weight: 800;
    font-size: 24px;
    line-height: 64px;
    text-align: center;
    
}
nav>a{
    color: #fdf7f7;
}